@import './base/colors.scss';

.searchMenu {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

}

.fieldsets {
    margin: 5px;
    padding: 7.5px;
    background-color: transparent;
    border-color: $dark-green;
    border-radius: 5px;
    font-size: 14px;
}

.artists {
    @extend .fieldsets;
}

.genres {
    @extend .fieldsets;
}

.features {
    @extend .fieldsets;
}


.row {
    display: flex;
}

.btn {
    min-height: 5vh;
    margin: 3px;
    padding: 5px;
    border-radius: 15px;
    border-color: transparent;
    background-color: $grey;
    color: $font-color-light;

    &:focus-visible {
        outline: $font-color-light solid 2px;
    }

    // border-radius: 5px;
}

.fieldBtn {
    @extend .btn;
    padding: 7.5px;
}

.addBtn {
    color: $darker-green;
    font-size: 20px;
    margin: auto 0;
    margin-left: 7.5px;
}

.error {
    font-size: 12px;
    color: $red;
}

.submitBtn {
    @extend .btn;
    display: block;
    min-height: 7vh;
    border-color: $dark-green;
    background-color: $grey;
    color: $white;
    font-size: 14px;
    margin: 5px auto;
    min-width: 100px;
    max-width: 50%;
    // max-width: 100px;

    &:hover {}
}