@import "./base/colors.scss";

.main {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  padding: 0rem;
  min-height: 800px;
}

.description {

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  p {
    padding: 0.25rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }
}

.card {
  padding: 0.25rem;
  // border-radius: var(--border-radius);
  // border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;

  h2 {
    font-weight: 500;
    color: $font-color;
    // color: $green;
  }

  p {
    margin: 0;
    opacity: 0.65;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: relative;
  margin-top: 50px;
}


